/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
@import url(./variables.css);

* {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* 전체 레이아웃 */
.all-wrapped {
  width: 28.75rem;
  margin: 0 auto;
}

/* 로고 */
header {
  margin: 0 auto;
  text-align: center;

  svg {
    width: 14.375rem;
    height: 2.75rem;
    margin: 50px 0;
  }
}

/* 입력 폼 */
form {
  .input-wrapper {
    margin-bottom: 0.625rem;

    input {
      width: 28.75rem;
      height: 3rem;
      border: 1px solid var(--silver-light);
      padding: 0.875rem;
      font-size: var(--font-size-regular);
    }

    input::placeholder {
      color: var(--silver);
    }
  }

  /* 버튼 */
  button[type='submit'] {
    width: 28.75rem;
    height: 3.5rem;
    margin: 0.625rem 0;
    background: var(--naver-green);
    border: 1px solid var(--naver-green);
    color: var(--white);
    font-size: var(--font-size-regular);
  }
}

/* 로그인 하단 */
.security-wrapper {
  position: relative;
  display: flex;

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }

  input[type='checkbox'] {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--silver);
    appearance: none;
    cursor: pointer;
    margin: 0 0.1875rem 0 0;
  }

  .checkbox-checked {
    padding: 0.4em;
    color: var(--silver);
  }

  input[type='checkbox']:checked {
    background: var(--naver-green);
    color: var(--white);
    border: none;
    padding: 0.375rem;
  }

  label {
    color: var(--black-dark);
  }

  /* IP 보안 */
  .ip-security {
    width: 4.875rem;
    height: 1.125rem;
    position: absolute;
    top: 0;
    right: 0;

    a {
      color: var(--black-dark);
      padding-right: 0.3125rem;
    }

    span {
      color: var(--silver);
    }
  }
}
