:root {
  /* 색상 */
  --naver-green: #03cf5d;
  --white: #ffffff;
  --silver: #999999;
  --silver-light: #dadada;
  --silver-dark: #666666;
  --warning-red: #ff1414;
  --black-dark: #333333;

  /* 글자 크기 */
  --font-size-regular: 1rem;
}
